body{background-color:black;text-align:justify;font-size:18px;}
h1{text-align:center;background-color: black;color:red}
H3{text-align:justify;color:blueviolet}
b{color:black;font-size:18px;}
i{color: black;font-size: 18px;}
header,footer{background-color:#ff6aa9 color#d1db14;text-align:center;font-size: 20px;}
main{background-color: blanchedalmond;}